@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.counter-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  color: white;
}

.counter-background {
  height: 40rem;
  width: 28rem;
  display: flex;

  border-radius: 10%;
  background: radial-gradient(circle, #943b9b 0%, #2a1251 70%);
}

.temp-counter {
  font-size: 8rem;
  letter-spacing: -10px;
}

.degree-symbol {
  margin-left: 0.5rem;
}
